<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/CSS/service.css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class=" bg-gray-100">
  <%- include('../includes/newfrontnavigation.ejs') %>

  <main class="bg-gradient">
    <div class="content">
    <section class="container mx-auto px-4">
      <h1 class="text-center text-5xl font-bold underline mt-8 text-yellow-50 mb-5">Our Services</h1>
      <p class="text-center text-white text-lg font-semibold mb-8">Our company provides key digital services for everyone.</p>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <img src="https://webthemez.com/demo/startup-single-page-bootstrap-template/assets/img/services/1.svg" class="w-24 mx-auto mb-4" alt="service 1">  
          <h4 class="text-xl font-semibold mb-2">Review Features</h4>
          <p class="text-gray-700">Our Expert Team look Resume of Candidate and give Valuable feedback to candidate and Recruiter.</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md">
          <img src="https://webthemez.com/demo/startup-single-page-bootstrap-template/assets/img/services/3.svg" class="w-24 mx-auto mb-4" alt="service 2">  
          <h4 class="text-xl font-semibold mb-2">Quiz Based</h4>
          <p class="text-gray-700">Candidate need to complete Quiz and other Skill related Practical and theoretical online Exams.</p>
        </div>
        
        <div class="bg-white p-6 rounded-lg shadow-md">
          <img src="https://webthemez.com/demo/startup-single-page-bootstrap-template/assets/img/services/4.svg" class="w-24 mx-auto mb-4" alt="service 3">  
          <h4 class="text-xl font-semibold mb-2">Broadcast Programs</h4>
          <p class="text-gray-700">We Broadcast new Job and New Skill related Program.</p>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-md">
          <img src="https://webthemez.com/demo/startup-single-page-bootstrap-template/assets/img/services/6.svg" class="w-24 mx-auto mb-4" alt="service 4">  
          <h4 class="text-xl font-semibold mb-2">LinkedIn Network</h4>
          <p class="text-gray-700">We Organise LinkedIn Group for Candidate Diffrent Organization in National and International Program.</p>
        </div>    
      </div>
    </div>
    </section>
    <div class="background-fix" style="background-image: linear-gradient(to bottom, rgba(160, 32, 240, 1) 50%, white 100%);"></div>
  </main>

  <%- include('../includes/end.ejs') %>
</body>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const path = window.location.pathname;

    const links = document.querySelectorAll(".main-header__item a");

    links.forEach(link => {
      if (link.getAttribute("href") === path) {
        link.classList.add("active");
      }
    });
  });
</script>
