<main>
  <form class="user-form" action="/admin/users" method="POST">
    <div class="form-control">
      <center>
        
        <label class="txt__input" ="title"> User:- </label>
        <input type="text" name="title" id="title" />

        <label class="txt__input" for="desc"> Designation:- </label>
        <input type="text" name="desc" id="desc" />

        <label class="txt__input" for="skills"> Skills:- </label>
        <input type="text" name="skills" id="skills" />

        <button type="submit">Add New User</button>
      </center>
    </div>
  </form>
</main>

