extends layouts/main-layout.pug

block styles
  link(rel="stylesheet", href="../CSS/newusrstyle.css")

block content
  main
    form.user-form(action="/admin/users", method="POST")
      .form-control(center)

        label(for="title") User:- 
        input(type="text", name="title")#title 

        label(for="desc") Designation:- 
        input(type="text", name="desc")#desc 

        label(for="skills") Skills:- 
        input(type="text", name="skills")#skills 

        button(type="submit") Add New User
