<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/CSS/price.css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <%- include('../includes/newfrontnavigation.ejs') %>

  <main class="bg-gradient">
    <div class="content">
    <div class="sm:flex items-center max-w-screen-xl">
      <div class="sm:w-1/2 p-10">
          <div class="image object-center text-center">
              <img src="https://i.imgur.com/WbQnbas.png">
          </div>
      </div>
      <div class="sm:w-1/2 p-5">
          <div class="text">
              <span class="text-white border-b-2 border-indigo-200 uppercase text-8xl sm:text-8xl mt-7">About us</span>
              <h2 class="my-4 font-bold text-6xl  sm:text-6xl ">About <span class="text-indigo-800">Our Company</span>
              </h2>
              <p class="text-gray-800 text-2xl ">
                Welcome to Zenith Consulting, where we are committed to transforming careers and empowering businesses through strategic talent solutions. As a leading job consulting company, we specialize in connecting top talent with innovative companies, driving growth and success for both individuals and organizations alike.
                At Zenith Consulting, we understand that in today's dynamic and competitive job market, finding the right talent can be challenging. Likewise, navigating through career transitions and advancement opportunities can be daunting for professionals at all stages of their careers. That's where we come in.
                With a team of seasoned industry experts, we leverage our extensive network and expertise to provide personalized consulting services tailored to the unique needs of each client. Whether you are a job seeker looking to explore new opportunities or an employer seeking top-tier talent, we are here to guide you every step of the way.
              </p>
          </div>
      </div>
  </div>
</div>
<div class="background-fix" style="background-image: linear-gradient(to bottom, rgba(160, 32, 240, 1) 50%, white 100%);"></div>
  </main>

  <%- include('../includes/end.ejs') %>
</body>