<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/CSS/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Add responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-center bg-cover" style="background-image: url('https://webthemez.com/demo/startup-single-page-bootstrap-template/assets/img/intro/banner-bg.png')">
    <%- include('../includes/newfrontnavigation.ejs') %>
    <main class="bg-gradient">
        <div class="content">
        <section class="text-center mt-32 md:mt-16">
            <div class="logo__img mt-6 md:mt-8">
                <img src="https://webthemez.com/demo/startup-single-page-bootstrap-template/assets/img/intro/rocket.svg" class="rocket-image w-40 md:w-50 lg:w-22 max-w-full mx-auto" alt="Rocket Image">
            </div>
            <h1 class="fade-in-text text-3xl md:text-5xl lg:text-8xl font-bold mb-2 md:mb-2">
                Always Zenith to Change the World
            </h1>
            <p class="text-lg text-white md:text-xl font-bold mt-2 md:mt-4">
                Deliver the right direction
            </p>
        
            <div class="flex flex-col md:flex-row items-center justify-center mt-6 md:mt-8">
                <a class="btn mb-3 md:mb-0 md:mr-4 px-6 py-1 md:px-5 md:py-0 text-center md:text-sm font-bold" href="/login">Login</a>
                <a class="btn2 px-16 py-0 md:px-3 md:py-1 text-center md:text-sm font-bold" href="/register">Register</a>
                

            </div>
        </section>
        </div>
        <div class="background-fix" style="background-image: linear-gradient(to bottom, rgba(160, 32, 240, 1) 50%, white 100%);"></div>
        
    </main>
    <%- include('../includes/end.ejs') %>
</body>

</html>
