@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:rgb(101, 163, 13); /* Set your desired background color */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
  }