<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
   <link rel="stylesheet" href="/CSS/errstyle.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
          <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Home</a></li>
            <li class="main-header__item">
              <a href="/admin/create-users">New User</a>
            </li>
          </ul>
        </nav>
      </header>
    <main>
        <center> <img class="err-img" src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg" alt="404 Image"><center>
    </main>
</body>
</html>