<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="../CSS/newusrstyle.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">Home</a></li>
          <li class="main-header__item">
            <a class="active" href="/admin/create-users">New User</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form class="user-form" action="/admin/users" method="POST">
        <div class="form-control">
          <center>
            <label for="title"> User:- </label>
            <input type="text" name="title" id="title" />

            <label for="desc"> Designation:- </label>
            <input type="text" name="desc" id="desc" />

            <label for="skills"> Skills:- </label>
            <input type="text" name="skills" id="skills" />

            <button type="submit">Add New User</button>
          </center>
        </div>
      </form>
    </main>
  </body>
</html>
