<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/CSS/errstyle.css" />
    {{#if homeCSS}}
      <link rel="stylesheet" href="/CSS/home.css" />
    {{/if}}
    {{#if newuserstyleCSS}}
      <link rel="stylesheet" href="/CSS/newusrstyle.css" />
    {{/if}}
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class="{{#if activeHome}}active{{/if}}" href="/">Home</a></li>
          <li class="main-header__item">
            <a class="{{#if activeNewUsr}}active{{/if}}" href="/admin/create-users">New User</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>