extends layouts/main-layout.pug
      
block content 
    img.err-img(src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg", alt="404 Image")
