<!DOCTYPE html>
<html>
  <head>
    <title>Admin || Shop </title>
    <link rel="stylesheet" href="/CSS/shopstyle.css">
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header_nav">
        <ul class="main-header_item-list">
          <li class="main-header_item"><a class="active" href="/">Shop</a></li>
          <li class="main-header_item"><a href="/admin/add-product">Add Product</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <center>
     <h1>My Products</h1>
     <p>List of All the Products...</p>
     </center>
    </main>
  </body>
</html>
