<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/CSS/login.css" />
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <%- include('../includes/newfrontnavigation.ejs') %>

  <main>
    
     </div> 
    

  </main>

  <%- include('../includes/end.ejs') %>
</body>