@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  font-weight: bold;
  color: #ff9900; /* Change this to your desired active link color */
}

body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 45rem;
}

main {
    padding: 1rem;
    background-size: cover;
    background-position: center;
    background-image: url("https://webthemez.com/demo/startup-single-page-bootstrap-template/assets/img/intro/banner-bg.png");
    min-height: 100vh; /* Set minimum height to full viewport height */
    margin-right: -47px;
    background-color: transparent;
  }

  .max-w-lg.mx-auto.bg-white.dark\:bg-gray-800.rounded-lg.shadow-md.px-8.py-10.flex.flex-col.items-center {
    margin-top: 10rem;
}
  
.navbar-brand {
  color: azure;
}

.logo__img {
  text-align: center;
  margin-top: 2rem;
}

.rocket-image {
  opacity: 0.9;
  filter: drop-shadow(2px 4px 6px black);
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  margin-right: 25rem;
  margin-top: -7rem;
}

.main-header {
  width: 100%;
  height: 4rem;
  background-color: rgb(7, 16, 68);
  padding: 0 1.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar-brand {
  color: rgba(255, 250, 240, 0.6);
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: auto;
  font-size: 3.25rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: max-content;
}

.main-header__item a {
  color: rgb(202, 187, 52);
  text-decoration: none;
  padding: 1rem;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #42b87dc9;
  font-weight: bold;
}

.product__title {
  margin-top: 3rem;
  margin-left: 0.5%;
  text-align: left;
  font-size: x-large;
}

.heading__title {
  text-align: center;
  text-decoration: underline;
  margin-top: 0%;
  color: rgba(122, 114, 114, 0.9);
}

.heading__msg {
  text-align: right;
  font-size: large;
  margin-top: 0%;
  color: rgba(10, 5, 80, 0.7);
}

img {
  opacity: 0.6;
  filter: grayscale(100%);
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.user__des {
  margin-left: 0.2rem;
  margin-top: 0.3rem;
  color: slategrey;
  font-size: x-large;
}

.user__skills {
  margin-left: 0.3rem;
  margin-top: -1%;
  color: darkblue;
}

.notification__msg {
  text-align: center;
  margin-top: 10%;
  font-size: 3rem;
  color: darkgrey;
}

.heading__user {
  color: rgb(202, 187, 52);
  margin: 0;
}

.hero-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 50rem;
  opacity: 0.5;
  
}

.bg-overlay,
.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.mb-3 {
  margin-bottom: 1rem; /* Adjusted margin bottom */
}

.fade-in-text {
  font-size: 2.25rem; /* Adjusted font size */
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  display: block;
  margin-top: 6rem;
  margin-left: 35%;
  font-size: 4rem;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.display-5 {
  font-size: 1.25rem; /* Adjusted font size */
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  display: flex;
  margin-top: -2.5rem;
  margin-left: 35rem;
  font-size: 1.5rem;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@media screen and (max-width: 768px) {
  .fade-in-text {
    margin-left: 1rem;
    margin-top: 5rem;
    text-align: center;
  }
  .display-5 {
    margin-left: 1rem; /* Adjust margin for smaller screens */
    text-align: center; /* Center align text on smaller screens */
  }

}

@media (min-width: 1024px) {
  .lg\:w-96 {
    width: 3rem;
  }
}

@media (min-width: 1024px) {
  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
    color: lightblue;
    font-size: 4rem;
    /* border-radius: 71%; */
  }
}

a.text-white.bg-primary-600.hover\:bg-primary-700.focus\:ring-4.focus\:ring-primary-200.font-medium.rounded-lg.text-sm.px-5.py-2\.5.text-center.dark\:text-white.dark\:focus\:ring-primary-900 {
    color: blueviolet;
    font-size: x-large;
    background-color: rgb(220, 220, 220);
}

a.text-white.bg-primary-600.hover\:bg-primary-700.focus\:ring-4.focus\:ring-primary-200.font-medium.rounded-lg.text-sm.px-5.py-2\.5.text-center.dark\:text-white.dark\:focus\:ring-primary-900:hover {
    color: rgb(138, 43, 226,0.3);
    background-color: rgb(220, 220, 220,0.7);;

}

div#contact {
  background-color: transparent;
}

