@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:rgb(5, 5, 5); /* Set your desired background color */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
  }



/* Custom animation definition */
@keyframes custom-spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Applying custom animation to the image */
.animate-custom-spin {
  animation: custom-spin 4s linear infinite; /* Adjust duration and animation type as needed */
}
