<form action="/admin/shortlist" method="post" style="display: inline;">
    <a href="/admin/shortlist"  class="btn2" title="Short-list" type="submit"><i class="fa fa-list"></i></a>
    <input type="hidden" name="userId" value="<%= user.id %>">
</form>  